@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100..900&display=swap');


body{
font-family: 'Heebo', sans-serif !important;
font-variation-settings: 'wght' 400;
font-optical-sizing: auto;
color: #222;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}

.header a {
  font-variation-settings: 'wght' 600 !important;
}


.animation > div,
.animation > div > svg   {
  
  width: 100% !important;
}


h1 {
  font-variation-settings: 'wght' 700 !important;
  font-variant: small-caps !important;
  font-size: 4vw !important;
  color: #000 !important;
}


h2 {
  font-variation-settings: 'wght' 700 !important;
  text-transform: uppercase !important;
  font-size: 2.75vw !important;
  color: #000 !important;
}

h4 {
  font-variation-settings: 'wght' 700 !important;
  font-size: 2.25vw !important;
  color: #000 !important;
}

h3.logo {
  font-family: 'Alumni Sans', sans-serif !important;
  font-variation-settings: 'wght' 700 !important;
  font-size: 2.4rem ;
  line-height: 4rem ;
  cursor: pointer !important;
  text-decoration: none !important;
}

p {
  padding: 0.25rem 0 !important;
  font-variation-settings: 'wght' 400 !important;
  line-height: 1.25 !important;
  font-size: 1.125vw !important;
}


.hero p {
  font-size: 1.5vw !important;
}


.cities caption{
  text-transform: uppercase !important;
  font-variation-settings: 'wght' 900 !important;
  text-align: center !important;
  color: #3e3180 !important;
}


a:hover {
  text-decoration: none !important;
}

*:focus {
 box-shadow: none !important;
}

.contact a {
  font-variation-settings: 'wght' 700 !important;
  line-height: 1.25 !important;
  width: 100% !important;
  color: #FFDD00 !important;
  text-align: right !important;
}





.footer {
  text-align:  center !important;
}

.footer a{
  margin: 0;
}

.footer p{
  font-variation-settings: 'wght' 500 !important;
  line-height: 2 !important;
}

.form {
  text-align: left !important;
}

.form h2 {
  font-variation-settings: 'wght' 400 !important;
  text-transform: none !important;
  color: black !important;
}

.form p {
  font-variation-settings: 'wght' 400 !important;
  color: black !important;
}

.form  input {
  color: rgba(25, 25, 25, .6) !important;
}

.form input, 
.form [type=url], 
.form[type=email], 
.form [type=tel] {
  border-bottom: rgba(2, 2, 2, .3) solid 1px !important;
}

.form input::placeholder {
  padding-bottom: 2rem !important;
  font-variation-settings: 'wght' 350 !important;
  color: rgba(25, 25, 25, .6) !important;
  font-size: 1rem !important;
}

.form textarea {
  border-color: rgba(2, 2, 2, .3) !important;
  color: rgba(25, 25, 25, .6) !important;
}

.form textarea::placeholder {
  padding: 0 !important;
  font-variation-settings: 'wght' 350 !important;
  font-size: 1rem !important;
  color: rgba(25, 25, 25, .6) !important;
}

.form button {
  background-color: #148C6C !important;
  color: #ffffff !important;
  width: 100% !important;
}

.hello {
  text-align: center !important;
}


.hello h2 {
  font-size: 4vw !important;
  color: #048444 !important;
}

.hello p {
  font-size: 2.5vw !important;
  color: #048444 !important;
}

.details {
  animation: flip 2s  cubic-bezier(0.93, 0.05, 0.9, 0.71) 2;
}

@keyframes flip {
  0% {
    transform: scaleX(0.95);
  }

  100% {
    transform: scaleX(0.08);
  }
}

@keyframes fade-in {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}



